body {
	font-family: Roboto;
	border-top: 5px solid #9B51E0;
}

.wrapper {
	max-width: 984px;
}

.header {
	padding-top: 35px;
}

.search {
	max-width: 200px;
	height: 35px;
	border: 1px solid #6D3D99;
	float: right;
}

.search input[type="text"] {
	padding: 0 10px;
	margin: 0;
	font-size: 0.875em;
	height: 33px;
	border: none;
	width: 80%;
	color: #392050;
}

.search input[type="text"]:focus {
	outline: none;
}

.search input[type="submit"]:focus {
	outline: none;
}

.search input[type="submit"]:hover {
	background: #FFC740;
	cursor: pointer;
	color: black;
}

.search input[type="submit"] {
	float: right;
	font-size: 0.875em;
	margin: 0;
	width: 20%;
	height: 33px;
	background: #9B51E0;
	border: none;
	color: white;
	border-left: 1px solid #6D3D99;
}

.logo {
	position: relative;
	width: 170px;
	margin-top: -7px;
}

.logo-sm {
	display: none;
}

.logo .square {
	border: 3px solid #FFC740;
	height: 52px;
	width: 52px;
}

.logo h1 {
	color: #000;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	margin: 0;
	display: block;
	position: absolute;
	top: 13px;
	right: 0px;
	background: white;
}

.navbar {
	padding: 0;
	margin: 17px 0;
}

.navbar-nav a.nav-link {
	text-align: center;
	text-decoration: none;
	color: #050505;
	text-transform: uppercase;
	font-size: 0.875em;
}

.navbar ul {
	width: 100%;
}

.navbar li {
	width: 100%;
	height: 47px;
	padding-top: 4px;
}

.navbar li.active {
	background: #FFC740;
	color: white;
}

.navbar a:hover {
	text-decoration: underline; 	
}

.board {
	width: 100%;
	background: url(../img/img-header.jpg);
	margin: 0;
	padding: 17px 0 27px 42px;
	height: 331px;
}

.board h1 {
	font-size: 64px;
	line-height: 75px;
	color: #FFC740;
	margin: 0px;
	font-weight: 400;
}

.board .info-for-img {
	width: 451px;
	height: 133px;
}

.board .info-for-img p {
	font-size: 14px;
    line-height: 16px;
    color: white;
	margin: 10px 0 9px 0;
	font-weight: 300;
}

.board .info-for-img a {
	color: white;
	display: block;
	background: #6D3D99;
	width: 125px;
	height: 36px;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	padding-top: 9px;
	text-align: center;
	border: 1px solid #6D3D99;
}

.board .info-for-img a:hover {
	text-decoration: underline;
}

.topics {
	overflow: hidden;
	margin: 0 20px 0;
}

.topics .topic {
	padding: 34px 0 0 0;
}

@media (max-width: 767px) {
	.header .main-menu {
		flex-direction: column;
	}

	.header .main-menu a {
		min-width: 100%;
	}

	.logo-sm {
		display: block;
	}

	.header {
		display: none;
	}

	.logo h1 {
		top: 18px;
	}

	.navbar {
		margin-top: 30px;
	}

	.board {
		background: url(../img/img-header-767.jpg);
		height: 285px;
		padding: 10px 0 20px 35px;
	}

	.board h1 {
		font-size: 3em;
		line-height: 60px;
		color: #FFC740;
		margin: 0px;
		font-weight: 400;
	}

	.topics .topic {
		padding: 17px 0 0 0;
	}
}

.topics .topic p {
	vertical-align: top;
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	float: right;
	text-align: justify;
}

.topics > .topic:nth-child(even) {
	padding-left: 10px;
}
.topics > .topic:nth-child(odd) {
	padding-right: 10px;
}

.topic .img-topic {
	border: 2px solid #FFC740;
	width: 30.3243478260869565217391304348%;
	padding: 1px;
	float: left;
	margin-right: 18px;
	margin-bottom: 0px;
}

@media (min-width: 907px) {
	.topic .img-topic {
		margin-bottom: 20px;
	}
}

.topics .topic a.topic-read-more {
	text-decoration: underline;
	color: black;
	line-height: 14px;
	font-size: 12px;
	color: black;
	margin-left: 0px;
}

.topics .topic a.topic-read-more:hover {
	color: #808080;
}

.topics .topic .topic-head {
	width: 100%;
	height: 15px;
	position: relative;
	margin-bottom: 13px;
}

.topics .topic div.orange {
	background: #FFC740;
}

.topics .topic div.purple {
	background: #9B51E0;
}

.topics .topic .topic-head h2 {
	margin: 0;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	background: white;
	text-align: center;
	height: 15px;
	position: absolute;
	padding: 0 4px;
	left: 16px;
	top: 0px;
}

.topics .topic:nth-child(3n+2) {
	padding-left: 4px;
	padding-right: 4px;
}

.topics .topic:nth-child(3n) {
	padding-right: 8px;
}

.topics .topic:nth-child(3n+1) {
	padding-left: 8px;
}

@media (max-width: 986px) {
	.topics .topic {
		padding-top: 8px;
	}
}



.topics .topic p {
	margin-bottom: 19px;
	float: none;
}

.topics .topic ul {
	margin: 0;
	padding: 0;
}

.topics .topic li {
	margin-bottom: 50%;
	list-style: none;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 7px;
}

.topics .topic li a {
	display: block;
	float: left;
	width: 38px;
	height: 38px;
	margin: 6px 11px 0 2px;
	border: 1px solid rgb(207, 207, 207);
}

.topics .topic li a.a1 {
	background: url(../img/1.png);
}

.topics .topic li a.a2 {
	background: url(../img/2.png);
}

.topics .topic li a.a3 {
	background: url(../img/3.png);
}

.topics .topic li h4 {
	margin: 0 0 2px 0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
}

.topics .topic li p {
	margin: 0 0 0 14.925373134328358208955223880597%;
	width: 86.533101045296167247386759581882%;
	height: 29px;
	text-align: justify;
}

.topics .clents {
	width: 100%;
	padding: 0;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 35px;
}

.topics .clents img {
	width: 100%;
}

.topics .clents a {
	margin: 23px 0;
}

.footer {
	height: 115px;
	width: 100%;
	background: #6D3D99;
	padding-top: 48px;
}

.footer h3 {
	font-weight: bold;
	line-height: 1em;
	font-size: 0.875em;
	text-align: center;
	color: #fff;
}

@media (max-width: 576px) {
	.topics > .topic:nth-child(even) {
		padding-left: 0;
	}

	.topics .topic:nth-child(3n) {
		padding-right: 0;
	}

	.topics .topic:nth-child(3n+1) {
		padding-left: 0;
	}

	.topics > .topic:nth-child(odd) {
		padding-right: 0;
	}

	.topics .topic li p {
		margin-left: 0;
	}

	.topics .clents {
		margin-top: 15px;
	}

	.topics .topic:nth-child(3n+2) {
		padding-right: 0;
	}

	.topics .topic li p {
		width: 100%;
	}
}