body {
	font-family: Roboto;
	border-top: 5px solid #9B51E0;
}

.row {
	margin: 0;
}

.wrapper {
	max-width: 984px;
}

.header {
	padding-top: 35px;
}

.search {
	max-width: 200px;
	height: 35px;
	border: 1px solid #6D3D99;
	float: right;
}

.search input[type="text"] {
	padding: 0 10px;
	margin: 0;
	font-size: 0.875em;
	height: 33px;
	border: none;
	width: 80%;
	color: #392050;
}

.search input[type="text"]:focus {
	outline: none;
}

.search input[type="submit"]:focus {
	outline: none;
}

.search input[type="submit"]:hover {
	background: #FFC740;
	cursor: pointer;
	color: black;
}

.search input[type="submit"] {
	float: right;
	font-size: 0.875em;
	margin: 0;
	width: 20%;
	height: 33px;
	background: #9B51E0;
	border: none;
	color: white;
	border-left: 1px solid #6D3D99;
}

.logo {
	position: relative;
	width: 170px;
	margin-top: -7px;
}

.logo-sm {
	display: none;
}

.logo .square {
	border: 3px solid #FFC740;
	height: 52px;
	width: 52px;
}

.logo h1 {
	color: #000;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	margin: 0;
	display: block;
	position: absolute;
	top: 13px;
	right: 0px;
	background: white;
}

.navbar {
	padding: 0;
	margin: 17px 0;
}

.navbar-nav a.nav-link {
	text-align: center;
	text-decoration: none;
	color: #050505;
	text-transform: uppercase;
	font-size: 0.875em;
}

.navbar ul {
	width: 100%;
}

.navbar li {
	width: 100%;
	height: 47px;
	padding-top: 4px;
}

.navbar li.active {
	background: #FFC740;
	color: white;
}

.navbar a:hover {
	text-decoration: underline; 	
}

.board {
	width: 100%;
	background: url(../img/img-header.jpg);
	margin: 0;
	padding: 17px 0 27px 42px;
	height: 331px;
}

.board h1 {
	font-size: 4em;
	line-height: 1,171875em;
	color: #FFC740;
	margin: 0px;
	font-weight: 400;
}

.board .info-for-img {
	width: 451px;
	height: 133px;
}

.board .info-for-img p {
	font-size: 14px;
    line-height: 16px;
    color: white;
	margin: 10px 0 9px 0;
	font-weight: 300;
}

.board .info-for-img a {
	color: white;
	display: block;
	background: #6D3D99;
	width: 125px;
	height: 36px;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	padding-top: 9px;
	text-align: center;
	border: 1px solid #6D3D99;
}

.board .info-for-img a:hover {
	text-decoration: underline;
}

.topics {
	overflow: hidden;
	margin: 15px 20px 0;
}

.topics .topic {
	margin-top: 20px;
}

.topics .topic p {
	font-size: 12px;
	line-height: 14px;
	text-align: justify;
	margin-bottom: 0;
}

.topic .flex-column {
	flex-basis:65.6756521739130434782608695652%;
}

.topic .justify-content-between a {
	flex-basis: 30%;
}

.topic .img-topic {
	border: 2px solid #FFC740;
	width: 100%;
	padding: 1px;
}

.topics .topic a.topic-read-more {
	display: block;
	text-decoration: underline;
	color: black;
	line-height: 14px;
	font-size: 12px;
	color: black;
	margin-top: 15px;
}

.topic-author {
	margin-top: 15px;
}

.topics .topic a.topic-read-more:hover {
	color: #808080;
}

.topics .topic .topic-head {
	width: 100%;
	height: 15px;
	position: relative;
	margin-bottom: 13px;
}

.topics .topic div.orange {
	background: #FFC740;
}

.topics .topic div.purple {
	background: #9B51E0;
}

.topics .topic .topic-head h2 {
	margin: 0;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	background: white;
	text-align: center;
	height: 15px;
	position: absolute;
	padding: 0 4px;
	left: 16px;
	top: 0px;
}

.topics .topic div {
	list-style: none;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 7px;
}

.topics .col-sm-4 .flex-row a {
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid rgb(207, 207, 207);
	margin-right: 10px;
}

.topics .topic h4 {
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1em;
}

.topics .topic li p {
	text-align: justify;
}

.topics .clents {
	width: 100%;
	margin-top: 36px;
}

.topics .clents img {
	width: 100%;
}

.topics .clents a {
	margin: 23px 0;
}

.footer {
	height: 115px;
	background: #6D3D99;
	padding-top: 48px;
}

.footer h3 {
	font-weight: bold;
	line-height: 1em;
	font-size: 0.875em;
	text-align: center;
	color: #fff;
}

.col-sm-4:nth-child(even) {
	padding-left: 8px;
	padding-right: 8px;
}

.col-sm-4:nth-child(3n+5) {
	padding-right: 8px;
}

.col-sm-4:nth-child(3n+7) {
	padding-left: 8px;
}

.col-sm-6:nth-child(odd) {
	padding-right: 11px;
}

.col-sm-6:nth-child(even) {
	padding-left: 11px;
}

@media (max-width: 767px) {
	.topics {
		margin: 10px 5px 0 5px;
	}

	.topics .topic {
		margin-top: 10px;
	}

	.logo-sm {
		display: block;
	}

	.header {
		display: none;
	}

	.logo h1 {
		top: 18px;
	}

	.navbar {
		margin-top: 30px;
	}

	.board {
		background: url(../img/img-header-767.jpg);
		height: 285px;
		padding: 10px 0 20px 35px;
	}

	.board h1 {
		font-size: 3em;
		line-height: 60px;
		color: #FFC740;
		margin: 0px;
		font-weight: 400;
	}
}

@media (max-width: 576px) {
	section.col-sm-4 {
		margin: 10px 0;
	}

	.navbar-nav a.nav-link {
		font-size: 0.8em
	}

	.navbar li {
		height: 43px;
	}

	.topics section.topic {
		padding: 0;
	}

	.board {
		padding: 5px 20px;
	}

	.board .info-for-img {
		width: 100%;
	}

	.board h1 {
		font-size: 2.5em;
	}

	.topics .clents {
		margin-top: 15px;
	}
}

@media (max-width: 398px) {
	.board h1 {
		font-size: 30px;
		line-height: 40px;
	}

	.board .info-for-img p {
		font-size: 12px;
    	line-height: 14px;
	}
}
